body{
    background-color: blue;
}


div{
    width: 100px;
    height: 50px;
    background-color: chartreuse;

}

@media screen and (max-width :550px){
    div{
        border-radius: 50px;
    }
    
}